<!-- Archivo: favorites.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos Favoritos</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesAlex.css">
</head>
<body>

    <header>
        <h1>Juegos Favoritos</h1>
    </header>

    <nav>
        <a href="{{ url_for('main') }}">Inicio</a>
        <a href="{{ url_for('played') }}">Jugados</a>
        <a href="{{ url_for('platinos') }}">Platinos</a>
    </nav>
    
        <div id="favorites-list">
            {% for juego in juegos %}
                <div class="game-card" data-id="{{ juego.id }}">
                    <img src="{{ juego.imagen_del_juego }}" alt="{{ juego.nombre }}">
                    <h3>{{ juego.nombre }}</h3>
                    <p>Año de salida: {{ juego.año_salida }}</p>
                    <p>Comentarios: {{ juego.comentarios }}</p>
                    <div class="actions">
                        <div class="top-actions">
                            <button class="favorite {% if juego.favorito %} clicked {% endif %}" data-id="{{ juego.id }}">
                                <i class="fas fa-star"></i>
                            </button>
                            <button class="trophy {% if juego.platino %} clicked {% endif %}" data-id="{{ juego.id }}">
                                <i class="fas fa-trophy"></i>
                            </button>
                        </div>
                        <button class="played {% if juego.jugado %} clicked {% endif %}" data-id="{{ juego.id }}">
                            Marcar como Jugado
                        </button>
                        <button class="delete" data-id="{{ juego.id }}"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            {% endfor %}
        </div>

    <footer>
        <p>&copy; 2025 Mi Biblioteca de Juegos</p>
    </footer>

    <script src="/static/scriptAlex.js"></script>
</body>
</html>
